<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Requests</title>
</head>
<body>
    <form action="admin_faculty_requests_action.html" method="post">
        <label for="accept">Accept</label>
        <input type="checkbox" id="accept" name="ad" value="accept">
        <label for="reject">Reject</label>
        <input type="checkbox" id="reject" name="ad" value="reject">
        <input type="submit" name="submit" value="Submit">
    </form>
</body>
</html>
